<!DOCTYPE html>
<html lange="en">
  <head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="shortcut icon" type="image/png" href="static/images/favicon.png">
    <link rel="stylesheet" type="text/css" href="static/css/index.css"
  </head>
  <body>
    <section class="navbar" id="navbar">
      <a class="logo" id="logo" href="/">
        <img src="static/images/favicon.png" alt="Bot logo">
      </a>
      <div class="links-wrapper" id="links-wrapper"
        <a href="#">Home</a>
        <a href="#">Ciao</a>
        <a href="#">MMM</a>
      </div>
    </section>
    <section class="main" id="main">
      <div class="" id="">
        ciao
      </div>
    </section>
  </body>
</html>